<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/49746c139e.js" crossorigin="anonymous"></script>
    <link href="css/styles.css" rel="stylesheet">

    <!---- Text fonts ---->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    
    <title>MercadoLiebre</title>
</head>
<body>
    <header>
        <div class="nav-bar-top">
            <img src="images/logo-mercado-liebre.svg" alt="MercadoLiebre logo">
            <div class="search-bar">
                <i class="fa-solid fa-magnifying-glass iconsearch"></i>
                <input class="input-field" type="text" value="Buscar productos">
            </div>            
            <p class="text-header">
                <i class="fa-solid fa-hand-holding-dollar"></i> 
                Compra en cuotas y sin tarjeta de credito
            </p>
        </div>
        <p class="text-header-mobile">
            <i class="fa-solid fa-hand-holding-dollar"></i> 
            Compra en cuotas y sin tarjeta de credito
        </p>

        <div class="menu-icon">
            <i class="fa-solid fa-bars icon"></i>
        </div>

        <div class="nav-bar-bottom">
                <ul class="left-nav-bar">
                    <li><a href="#">Ofertas</a></li>
                    <li><a href="#">Tiendas oficiales</a></li>
                    <li><a href="#">Vender</a></li>
                    <li><a href="#">Ayuda</a></li>
                </ul>
                <ul class="right-nav-bar">
                    <li><a href="#">Crea tu cuenta</a><i class="fa-regular fa-address-card"></i></li>
                    <li><a href="#">Ingresa</a><i class="fa-solid fa-right-to-bracket"></i></li>
                    <li><a href="#">Mis compras</a><i class="fa-solid fa-basket-shopping"></i></li>
                </ul>
        </div>
    </header>
    <img src="/images/img-home-banner.jpg" alt="banner" class="banner">
    <main>
        <h2>Basado en tu última visita</h2>
        <section>
            <article>            
                    <img class="product-img" src="images/img-cafetera-moulinex.jpg" alt="Imagen cafetera Moulinex">
                    <i class="fa-solid fa-truck" style="color: #30d01b;"></i>
                    <div class="article-footer">

                            <p class="precio">$6700</p>

                            <p class="descuento">40% off</p>

                    </div>
                    <h3>Cafetera Moulinex</h3>
            </article>
            <article>
                    <img class="product-img" src="images/img-macbook-pro-2019.jpg" alt="Imagen cafetera Moulinex">
                    <i class="fa-solid fa-truck" style="color: #30d01b;"></i>
                    <div class="article-footer">
                        <p class="precio">$230000</p>
                        <p class="descuento">20% off</p>
                |   </div>
                <h3>Macbook Pro 2019</h3>
            </article>
            <article>
                    <img class="product-img" src="images/img-samsung-galaxy-s10.jpg" alt="Imagen cafetera Moulinex">
                    <i class="fa-solid fa-truck" style="color: #30d01b;"></i>
                    <div class="article-footer">
                        <p class="precio">$70000</p>
                        <p class="descuento">10% off</p>
                    </div>
                <h3>Samsung Galaxy S10</h3>
            </article>
            <article>
                    <img class="product-img" src="images/img-tv-samsung-smart.jpg" alt="Imagen cafetera Moulinex">
                    <i class="fa-solid fa-truck" style="color: #30d01b;"></i>
                    <div class="article-footer">
                        <p class="precio">$23300</p>
                        <p class="descuento">5% off</p>
                    </div>
                <h3>SmartTv Samsung 43"</h3>
            </article>
        </section>
        <h2>Ofertas</h2>      
        <section>
            <article>            
                    <img class="product-img" src="images/img-cafetera-moulinex.jpg" alt="Imagen cafetera Moulinex">
                    <i class="fa-solid fa-truck" style="color: #30d01b;"></i>
                    <div class="article-footer">
                        <p class="precio">$6700</p>
                        <p class="descuento">40% off</p>
                    </div>
                    <h3>Cafetera Moulinex</h3>
            </article>
            <article>
                    <img class="product-img" src="images/img-macbook-pro-2019.jpg" alt="Imagen cafetera Moulinex">
                    <i class="fa-solid fa-truck" style="color: #30d01b;"></i>
                    <div class="article-footer">
                        <p class="precio">$230000</p>
                        <p class="descuento">20% off</p>
                |   </div>
                <h3>Macbook Pro 2019</h3>
            </article>
            <article>
                    <img class="product-img" src="images/img-samsung-galaxy-s10.jpg" alt="Imagen cafetera Moulinex">
                    <i class="fa-solid fa-truck" style="color: #30d01b;"></i>
                    <div class="article-footer">
                        <p class="precio">$70000</p>
                        <p class="descuento">10% off</p>
                    </div>
                <h3>Samsung Galaxy S10</h3>
            </article>
            <article>
                    <img class="product-img" src="images/img-tv-samsung-smart.jpg" alt="Imagen cafetera Moulinex">
                    <i class="fa-solid fa-truck" style="color: #30d01b;"></i>
                    <div class="article-footer">
                        <p class="precio">$23300</p>
                        <p class="descuento">5% off</p>
                    </div>
                <h3>SmartTv Samsung 43"</h3>
            </article>
        </section>
    </main>
    <footer>
        <section>
            <i class="fa-regular fa-credit-card"></i>
            <div class="text-container">
                <h2>Pagá con tarjeta o en efectivo</h2>
                <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                puntos de pago. ¡Y siempre es seguro!</p>
            </div>
        </section>
        <section>
            <i class="fa-solid fa-gift"></i>
            <div class="text-container">
                <h2>Envío gratis desde $ 2.500</h2>
                <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                    productos. Es un beneficio de Mercado Puntos.</p>
            </div>
        </section>
        <section>
            <i class="fa-solid fa-user-shield" ></i>
            <div class="text-container">
                <h2>Seguridad, de principio a fin</h2>
                <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                    porque estás siempre protegid@.</p>
            </div>
        </section>
        <section>
            <br>
            <p class="copyright">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
        </section>
    </footer>
    
</body>
</html>