* {
    box-sizing: border-box;
    font-family: Roboto;
}

body{
    /* display: flex; */
    margin:0;
    background-color: #ebebeb;
}

header{
    display: flex;
    align-content: center;
    text-align: center;
    width: 100%;
    height: auto;
    background-color: #EAC926;
    margin-bottom: 20px;
}

header img{
    height: 100%;
    margin: 10px auto;
    width: 50%;
}


main {
    display: flex;
    flex-direction: row;
    /* align-content: center; */
    align-items: center;
    /* align-items: center; */
    width: 100%;
    margin: auto;
    margin-left: 5%;
    /* align-items: flex-start; */
}

.register-img{
    width: 50%;
    text-align: center;
}

.register-img img{
    width: 80%;
}


form{
    padding: 20px;
    background-color: whitesmoke;
    border: none;
    border-radius: 7px;
    width: 50%;
}

form input {
    width: 100%;
    border: none;
    border-radius: 5px;
    height: 25px;
    margin: 10px auto;
    box-shadow: 4px 4px 6px grey;
}

.intereses{
    display: flex;
    flex-direction: column;
    align-content: left;
    /* justify-content: flex-start; */
    text-align: left;
}

.intereses input{
    width: auto;
    margin-bottom: 0;
    padding-top: 10px;
    height: auto;
    box-shadow: none;
}

.compraventa{
    display: flex;
    flex-direction: row;
}

.compraventa input{
    width: auto;
    height: auto;
    margin: auto 2px;
    box-shadow: none;
}

.profile-pic input{
    box-shadow: none;
}

/* BOTONES */
form button{
    padding: 15px;
    width: 85px;
    border-radius: 5px;
    border: none;
    margin: 10px;
    color: white;
}

.submitButton{
    background-color: blue;
}

.cancelButton{
    background-color: grey;
}



/* MOBILE MAIN */
@media (max-width: 1023px) {

    .register-img{
        display: none;
    }

    body{
        /* background-color: blue; */
        text-align: center;
        background-color: #ebebeb;
        text-align: center;
    }

    main {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 90%;
        margin-left: 7%;
    }

    form{
        width: 80%;
        margin:0;
    }

    form input {
        width: 100%;
        border: none;
        border-radius: 5px;
        height: 25px;
        margin: 10px auto;
    }

    .intereses{
        display: flex;
        flex-direction: column;
        align-content: left;
        /* justify-content: flex-start; */
        text-align: left;
    }

    .intereses input{
        width: auto;
        margin-bottom: 0;
        padding-top: 10px;
        height: auto;
    }

    .compraventa{
        display: flex;
        flex-direction: row;
    }

    .compraventa input{
        width: auto;
        height: auto;
        margin: auto 2px;
    }

    .compraventa label{
        margin: auto 5px;
    }

    .profile-pic {
        display: flex;
        align-items: center; /* Align items vertically */
    }
    
    .profile-pic label {
        margin-right: 20px; /* Add margin between label and input */
        width: 70%;
    }
    
    .profile-pic input[type="file"] {
        flex: 1; /* Take remaining space */
        /* max-width: calc(100% - 120px); Adjust width to accommodate the circle and margin */
    }
    
    .profile-pic .profile-pic-circle {
        border: 1px solid black;
        border-radius: 50%;
        width: 50px;
        height: 50px;
        margin-right: 20px;
        /* width: 50%; */
        /* order: -1; */
    }


    
} 