body {
    background-color: #EAC926;
    font-family: Roboto;
    margin: 0;
}

li a{
    font-style: none;
    text-decoration: none;
    list-style: none;
    color: black;
}

li {
    list-style: none;
}

p{
    font-size: 12px;
}

h2 {
    font-size: 24px;
}

p.precio{
    font-size: 18px;
}

p.descuento {
    font-size: 16px;
    margin: 0;
}

footer {
    text-align: center;
    line-height: 10px;
    background-color: white;
}

.icon{
    line-height: 10px;
    font-size: 2em;
    margin-top: 2em;
    color: #03264C;
}

.copyright{
    text-align: left;
}

img {
    width: 15em;
}

.precio{
    color: #39b54a;
}

article{
    display: flex;
    flex-direction: column;
   /* align-items: center;*/
    background-color: #ebebeb;
    text-align: left;
    padding-left: 1em;
    padding-right: 1em;
    border-bottom: 1px solid grey;
}
article h3 {
    margin-top: 0;
}

.product-img{
    /*margin-top: 1em;*/
    /*text-align: center;*/
    margin: 1em auto;
}